<div class="container">
  <div class="jumbotron">
    <h1>Mi Banda</h1>
    <p>Esta es la pagina de mi banda la cual no existe.</p>
  </div>
  <img class="rounded mx-auto d-block" src="/images/banda.jpg" alt="Meadowlark Travel Logo">
</div>
