<!doctype html>
<html>

<head>
	<title>LabWeb</title>
	{{{_sections.head}}}
</head>

<body>
	<h1>Bienvenido: {{alumnoActual.nombre}}</h1>
	{{{body}}} {{{_sections.jquery}}}
	<br>
	<br>
	<br> 
	{{> promedio}}
	<br/>
	<br/>
	<br/>
	<footer>
		Miguel Del Moral A01015019<br/>
		Rodrigo Solana   A01129839
	</footer>
</body>

</html>