<!doctype html>
<html>
<head>
	<title>LabWeb</title>
</head>
<body>
	<h1>LabWeb</h1>
	<script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
        <script>window.jQuery || document.write('<script src="/vendor/js/jquery-2.1.1.min.js"><\/script>')</script>
    	{{{_sections.jquery}}}
	{{{body}}}
</body>
</html>